pipdeptree==2.9.6; python_version==3.7 and sys_platform==linux
flake8==5.0.4; python_version==3.7 and sys_platform==linux
  importlib-metadata==4.2.0; python_version==3.7 and sys_platform==linux
    typing_extensions==4.7.1; python_version==3.7 and sys_platform==linux
    zipp>=3.19.1; python_version==3.7 and sys_platform==linux
  mccabe==0.7.0; python_version==3.7 and sys_platform==linux
  pycodestyle==2.9.1; python_version==3.7 and sys_platform==linux
  pyflakes==2.5.0; python_version==3.7 and sys_platform==linux
pip>=23.3; python_version==3.7 and sys_platform==linux
pytest==7.4.0; python_version==3.7 and sys_platform==linux
  exceptiongroup==1.1.2; python_version==3.7 and sys_platform==linux
  importlib-metadata==4.2.0; python_version==3.7 and sys_platform==linux
    typing_extensions==4.7.1; python_version==3.7 and sys_platform==linux
    zipp>=3.19.1; python_version==3.7 and sys_platform==linux
  iniconfig==2.0.0; python_version==3.7 and sys_platform==linux
  packaging==23.1; python_version==3.7 and sys_platform==linux
  pluggy==1.2.0; python_version==3.7 and sys_platform==linux
    importlib-metadata==4.2.0; python_version==3.7 and sys_platform==linux
      typing_extensions==4.7.1; python_version==3.7 and sys_platform==linux
      zipp>=3.19.1; python_version==3.7 and sys_platform==linux
  tomli==2.0.1; python_version==3.7 and sys_platform==linux
setuptools==70.0.0; python_version==3.7 and sys_platform==linux
pipdeptree==2.12.0; python_version==3.8 and sys_platform==linux
flake8==6.1.0; python_version==3.8 and sys_platform==linux
  mccabe==0.7.0; python_version==3.8 and sys_platform==linux
  pycodestyle==2.11.0; python_version==3.8 and sys_platform==linux
  pyflakes==3.1.0; python_version==3.8 and sys_platform==linux
pip>=23.3; python_version==3.8 and sys_platform==linux
pytest==7.4.0; python_version==3.8 and sys_platform==linux
  exceptiongroup==1.1.2; python_version==3.8 and sys_platform==linux
  iniconfig==2.0.0; python_version==3.8 and sys_platform==linux
  packaging==23.1; python_version==3.8 and sys_platform==linux
  pluggy==1.2.0; python_version==3.8 and sys_platform==linux
  tomli==2.0.1; python_version==3.8 and sys_platform==linux
setuptools==70.0.0; python_version==3.8 and sys_platform==linux
pipdeptree==2.12.0; python_version==3.9 and sys_platform==linux
flake8==6.1.0; python_version==3.9 and sys_platform==linux
  mccabe==0.7.0; python_version==3.9 and sys_platform==linux
  pycodestyle==2.11.0; python_version==3.9 and sys_platform==linux
  pyflakes==3.1.0; python_version==3.9 and sys_platform==linux
pip>=23.3; python_version==3.9 and sys_platform==linux
pytest==7.4.0; python_version==3.9 and sys_platform==linux
  exceptiongroup==1.1.2; python_version==3.9 and sys_platform==linux
  iniconfig==2.0.0; python_version==3.9 and sys_platform==linux
  packaging==23.1; python_version==3.9 and sys_platform==linux
  pluggy==1.2.0; python_version==3.9 and sys_platform==linux
  tomli==2.0.1; python_version==3.9 and sys_platform==linux
setuptools==70.0.0; python_version==3.9 and sys_platform==linux
pipdeptree==2.12.0; python_version==3.10 and sys_platform==linux
flake8==6.1.0; python_version==3.10 and sys_platform==linux
  mccabe==0.7.0; python_version==3.10 and sys_platform==linux
  pycodestyle==2.11.0; python_version==3.10 and sys_platform==linux
  pyflakes==3.1.0; python_version==3.10 and sys_platform==linux
pip>=23.3; python_version==3.10 and sys_platform==linux
pytest==7.4.0; python_version==3.10 and sys_platform==linux
  exceptiongroup==1.1.2; python_version==3.10 and sys_platform==linux
  iniconfig==2.0.0; python_version==3.10 and sys_platform==linux
  packaging==23.1; python_version==3.10 and sys_platform==linux
  pluggy==1.2.0; python_version==3.10 and sys_platform==linux
  tomli==2.0.1; python_version==3.10 and sys_platform==linux
setuptools==70.0.0; python_version==3.10 and sys_platform==linux
pipdeptree==2.12.0; python_version==3.11 and sys_platform==linux
flake8==6.1.0; python_version==3.11 and sys_platform==linux
  mccabe==0.7.0; python_version==3.11 and sys_platform==linux
  pycodestyle==2.11.0; python_version==3.11 and sys_platform==linux
  pyflakes==3.1.0; python_version==3.11 and sys_platform==linux
pip>=23.3; python_version==3.11 and sys_platform==linux
pytest==7.4.0; python_version==3.11 and sys_platform==linux
  iniconfig==2.0.0; python_version==3.11 and sys_platform==linux
  packaging==23.1; python_version==3.11 and sys_platform==linux
  pluggy==1.2.0; python_version==3.11 and sys_platform==linux
setuptools==70.0.0; python_version==3.11 and sys_platform==linux
pipdeptree==2.12.0; python_version==3.12 and sys_platform==linux
flake8==6.1.0; python_version==3.12 and sys_platform==linux
  mccabe==0.7.0; python_version==3.12 and sys_platform==linux
  pycodestyle==2.11.0; python_version==3.12 and sys_platform==linux
  pyflakes==3.1.0; python_version==3.12 and sys_platform==linux
pip>=23.3; python_version==3.12 and sys_platform==linux
pytest==7.4.0; python_version==3.12 and sys_platform==linux
  iniconfig==2.0.0; python_version==3.12 and sys_platform==linux
  packaging==23.1; python_version==3.12 and sys_platform==linux
  pluggy==1.2.0; python_version==3.12 and sys_platform==linux
setuptools==70.0.0; python_version==3.12 and sys_platform==linux
pipdeptree==2.9.6; python_version==3.7 and sys_platform==darwin
flake8==5.0.4; python_version==3.7 and sys_platform==darwin
  importlib-metadata==4.2.0; python_version==3.7 and sys_platform==darwin
    typing_extensions==4.7.1; python_version==3.7 and sys_platform==darwin
    zipp>=3.19.1; python_version==3.7 and sys_platform==darwin
  mccabe==0.7.0; python_version==3.7 and sys_platform==darwin
  pycodestyle==2.9.1; python_version==3.7 and sys_platform==darwin
  pyflakes==2.5.0; python_version==3.7 and sys_platform==darwin
pip>=23.3; python_version==3.7 and sys_platform==darwin
pytest==7.4.0; python_version==3.7 and sys_platform==darwin
  exceptiongroup==1.1.2; python_version==3.7 and sys_platform==darwin
  importlib-metadata==4.2.0; python_version==3.7 and sys_platform==darwin
    typing_extensions==4.7.1; python_version==3.7 and sys_platform==darwin
    zipp>=3.19.1; python_version==3.7 and sys_platform==darwin
  iniconfig==2.0.0; python_version==3.7 and sys_platform==darwin
  packaging==23.1; python_version==3.7 and sys_platform==darwin
  pluggy==1.2.0; python_version==3.7 and sys_platform==darwin
    importlib-metadata==4.2.0; python_version==3.7 and sys_platform==darwin
      typing_extensions==4.7.1; python_version==3.7 and sys_platform==darwin
      zipp>=3.19.1; python_version==3.7 and sys_platform==darwin
  tomli==2.0.1; python_version==3.7 and sys_platform==darwin
setuptools==70.0.0; python_version==3.7 and sys_platform==darwin
pipdeptree==2.12.0; python_version==3.8 and sys_platform==darwin
flake8==6.1.0; python_version==3.8 and sys_platform==darwin
  mccabe==0.7.0; python_version==3.8 and sys_platform==darwin
  pycodestyle==2.11.0; python_version==3.8 and sys_platform==darwin
  pyflakes==3.1.0; python_version==3.8 and sys_platform==darwin
pip>=23.3; python_version==3.8 and sys_platform==darwin
pytest==7.4.0; python_version==3.8 and sys_platform==darwin
  exceptiongroup==1.1.2; python_version==3.8 and sys_platform==darwin
  iniconfig==2.0.0; python_version==3.8 and sys_platform==darwin
  packaging==23.1; python_version==3.8 and sys_platform==darwin
  pluggy==1.2.0; python_version==3.8 and sys_platform==darwin
  tomli==2.0.1; python_version==3.8 and sys_platform==darwin
setuptools==70.0.0; python_version==3.8 and sys_platform==darwin
pipdeptree==2.12.0; python_version==3.9 and sys_platform==darwin
flake8==6.1.0; python_version==3.9 and sys_platform==darwin
  mccabe==0.7.0; python_version==3.9 and sys_platform==darwin
  pycodestyle==2.11.0; python_version==3.9 and sys_platform==darwin
  pyflakes==3.1.0; python_version==3.9 and sys_platform==darwin
pip>=23.3; python_version==3.9 and sys_platform==darwin
pytest==7.4.0; python_version==3.9 and sys_platform==darwin
  exceptiongroup==1.1.2; python_version==3.9 and sys_platform==darwin
  iniconfig==2.0.0; python_version==3.9 and sys_platform==darwin
  packaging==23.1; python_version==3.9 and sys_platform==darwin
  pluggy==1.2.0; python_version==3.9 and sys_platform==darwin
  tomli==2.0.1; python_version==3.9 and sys_platform==darwin
setuptools==70.0.0; python_version==3.9 and sys_platform==darwin
pipdeptree==2.12.0; python_version==3.10 and sys_platform==darwin
flake8==6.1.0; python_version==3.10 and sys_platform==darwin
  mccabe==0.7.0; python_version==3.10 and sys_platform==darwin
  pycodestyle==2.11.0; python_version==3.10 and sys_platform==darwin
  pyflakes==3.1.0; python_version==3.10 and sys_platform==darwin
pip>=23.3; python_version==3.10 and sys_platform==darwin
pytest==7.4.0; python_version==3.10 and sys_platform==darwin
  exceptiongroup==1.1.2; python_version==3.10 and sys_platform==darwin
  iniconfig==2.0.0; python_version==3.10 and sys_platform==darwin
  packaging==23.1; python_version==3.10 and sys_platform==darwin
  pluggy==1.2.0; python_version==3.10 and sys_platform==darwin
  tomli==2.0.1; python_version==3.10 and sys_platform==darwin
setuptools==70.0.0; python_version==3.10 and sys_platform==darwin
certifi>=2024.07.04; python_version==3.11 and sys_platform==darwin
pipdeptree==2.12.0; python_version==3.11 and sys_platform==darwin
flake8==6.1.0; python_version==3.11 and sys_platform==darwin
  mccabe==0.7.0; python_version==3.11 and sys_platform==darwin
  pycodestyle==2.11.0; python_version==3.11 and sys_platform==darwin
  pyflakes==3.1.0; python_version==3.11 and sys_platform==darwin
pip>=23.3; python_version==3.11 and sys_platform==darwin
pytest==7.4.0; python_version==3.11 and sys_platform==darwin
  iniconfig==2.0.0; python_version==3.11 and sys_platform==darwin
  packaging==23.1; python_version==3.11 and sys_platform==darwin
  pluggy==1.2.0; python_version==3.11 and sys_platform==darwin
setuptools==70.0.0; python_version==3.11 and sys_platform==darwin
certifi>=2024.07.04; python_version==3.12 and sys_platform==darwin
pipdeptree==2.12.0; python_version==3.12 and sys_platform==darwin
flake8==6.1.0; python_version==3.12 and sys_platform==darwin
  mccabe==0.7.0; python_version==3.12 and sys_platform==darwin
  pycodestyle==2.11.0; python_version==3.12 and sys_platform==darwin
  pyflakes==3.1.0; python_version==3.12 and sys_platform==darwin
pip>=23.3; python_version==3.12 and sys_platform==darwin
pytest==7.4.0; python_version==3.12 and sys_platform==darwin
  iniconfig==2.0.0; python_version==3.12 and sys_platform==darwin
  packaging==23.1; python_version==3.12 and sys_platform==darwin
  pluggy==1.2.0; python_version==3.12 and sys_platform==darwin
setuptools==70.0.0; python_version==3.12 and sys_platform==darwin
pipdeptree==2.9.6; python_version==3.7 and sys_platform==win32
flake8==5.0.4; python_version==3.7 and sys_platform==win32
  importlib-metadata==4.2.0; python_version==3.7 and sys_platform==win32
    typing_extensions==4.7.1; python_version==3.7 and sys_platform==win32
    zipp>=3.19.1; python_version==3.7 and sys_platform==win32
  mccabe==0.7.0; python_version==3.7 and sys_platform==win32
  pycodestyle==2.9.1; python_version==3.7 and sys_platform==win32
  pyflakes==2.5.0; python_version==3.7 and sys_platform==win32
pip>=23.3; python_version==3.7 and sys_platform==win32
pytest==7.4.0; python_version==3.7 and sys_platform==win32
  colorama==0.4.6; python_version==3.7 and sys_platform==win32
  exceptiongroup==1.1.2; python_version==3.7 and sys_platform==win32
  importlib-metadata==4.2.0; python_version==3.7 and sys_platform==win32
    typing_extensions==4.7.1; python_version==3.7 and sys_platform==win32
    zipp>=3.19.1; python_version==3.7 and sys_platform==win32
  iniconfig==2.0.0; python_version==3.7 and sys_platform==win32
  packaging==23.1; python_version==3.7 and sys_platform==win32
  pluggy==1.2.0; python_version==3.7 and sys_platform==win32
    importlib-metadata==4.2.0; python_version==3.7 and sys_platform==win32
      typing_extensions==4.7.1; python_version==3.7 and sys_platform==win32
      zipp>=3.19.1; python_version==3.7 and sys_platform==win32
  tomli==2.0.1; python_version==3.7 and sys_platform==win32
setuptools==70.0.0; python_version==3.7 and sys_platform==win32
pipdeptree==2.12.0; python_version==3.8 and sys_platform==win32
flake8==6.1.0; python_version==3.8 and sys_platform==win32
  mccabe==0.7.0; python_version==3.8 and sys_platform==win32
  pycodestyle==2.11.0; python_version==3.8 and sys_platform==win32
  pyflakes==3.1.0; python_version==3.8 and sys_platform==win32
pip>=23.3; python_version==3.8 and sys_platform==win32
pytest==7.4.0; python_version==3.8 and sys_platform==win32
  colorama==0.4.6; python_version==3.8 and sys_platform==win32
  exceptiongroup==1.1.2; python_version==3.8 and sys_platform==win32
  iniconfig==2.0.0; python_version==3.8 and sys_platform==win32
  packaging==23.1; python_version==3.8 and sys_platform==win32
  pluggy==1.2.0; python_version==3.8 and sys_platform==win32
  tomli==2.0.1; python_version==3.8 and sys_platform==win32
setuptools==70.0.0; python_version==3.8 and sys_platform==win32
pipdeptree==2.12.0; python_version==3.9 and sys_platform==win32
flake8==6.1.0; python_version==3.9 and sys_platform==win32
  mccabe==0.7.0; python_version==3.9 and sys_platform==win32
  pycodestyle==2.11.0; python_version==3.9 and sys_platform==win32
  pyflakes==3.1.0; python_version==3.9 and sys_platform==win32
pip>=23.3; python_version==3.9 and sys_platform==win32
pipx==1.2.0; python_version==3.9 and sys_platform==win32
  argcomplete==3.1.1; python_version==3.9 and sys_platform==win32
  colorama==0.4.6; python_version==3.9 and sys_platform==win32
  packaging==23.1; python_version==3.9 and sys_platform==win32
  userpath==1.9.0; python_version==3.9 and sys_platform==win32
    click==8.1.6; python_version==3.9 and sys_platform==win32
      colorama==0.4.6; python_version==3.9 and sys_platform==win32
pytest==7.4.0; python_version==3.9 and sys_platform==win32
  colorama==0.4.6; python_version==3.9 and sys_platform==win32
  exceptiongroup==1.1.2; python_version==3.9 and sys_platform==win32
  iniconfig==2.0.0; python_version==3.9 and sys_platform==win32
  packaging==23.1; python_version==3.9 and sys_platform==win32
  pluggy==1.2.0; python_version==3.9 and sys_platform==win32
  tomli==2.0.1; python_version==3.9 and sys_platform==win32
setuptools==70.0.0; python_version==3.9 and sys_platform==win32
pipdeptree==2.12.0; python_version==3.10 and sys_platform==win32
flake8==6.1.0; python_version==3.10 and sys_platform==win32
  mccabe==0.7.0; python_version==3.10 and sys_platform==win32
  pycodestyle==2.11.0; python_version==3.10 and sys_platform==win32
  pyflakes==3.1.0; python_version==3.10 and sys_platform==win32
pip>=23.3; python_version==3.10 and sys_platform==win32
pytest==7.4.0; python_version==3.10 and sys_platform==win32
  colorama==0.4.6; python_version==3.10 and sys_platform==win32
  exceptiongroup==1.1.2; python_version==3.10 and sys_platform==win32
  iniconfig==2.0.0; python_version==3.10 and sys_platform==win32
  packaging==23.1; python_version==3.10 and sys_platform==win32
  pluggy==1.2.0; python_version==3.10 and sys_platform==win32
  tomli==2.0.1; python_version==3.10 and sys_platform==win32
setuptools==70.0.0; python_version==3.10 and sys_platform==win32
pipdeptree==2.12.0; python_version==3.11 and sys_platform==win32
flake8==6.1.0; python_version==3.11 and sys_platform==win32
  mccabe==0.7.0; python_version==3.11 and sys_platform==win32
  pycodestyle==2.11.0; python_version==3.11 and sys_platform==win32
  pyflakes==3.1.0; python_version==3.11 and sys_platform==win32
pip>=23.3; python_version==3.11 and sys_platform==win32
pytest==7.4.0; python_version==3.11 and sys_platform==win32
  colorama==0.4.6; python_version==3.11 and sys_platform==win32
  iniconfig==2.0.0; python_version==3.11 and sys_platform==win32
  packaging==23.1; python_version==3.11 and sys_platform==win32
  pluggy==1.2.0; python_version==3.11 and sys_platform==win32
setuptools==70.0.0; python_version==3.11 and sys_platform==win32
pipdeptree==2.12.0; python_version==3.12 and sys_platform==win32
flake8==6.1.0; python_version==3.12 and sys_platform==win32
  mccabe==0.7.0; python_version==3.12 and sys_platform==win32
  pycodestyle==2.11.0; python_version==3.12 and sys_platform==win32
  pyflakes==3.1.0; python_version==3.12 and sys_platform==win32
pip>=23.3; python_version==3.12 and sys_platform==win32
pytest==7.4.0; python_version==3.12 and sys_platform==win32
  colorama==0.4.6; python_version==3.12 and sys_platform==win32
  iniconfig==2.0.0; python_version==3.12 and sys_platform==win32
  packaging==23.1; python_version==3.12 and sys_platform==win32
  pluggy==1.2.0; python_version==3.12 and sys_platform==win32
setuptools==70.0.0; python_version==3.12 and sys_platform==win32
